<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet">
  <link href="about.css" rel="stylesheet">
  <link href="events.css" rel="stylesheet">
  <title>Nanhi Kashtiyan</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg py-5 pt-lg-5" data-bs-theme="dark">
      <div class="container">
        <a class="navbar-brand" href="#">Nanhi Kashtiyan</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link"  href="/home.html">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="aboutDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                About
              </a>
              <ul class="dropdown-menu" aria-labelledby="aboutDropdown">
                <li><a class="dropdown-item" href="/components/ABOUT_US/ourteam.html">OUR TEAM</a></li>
                <li><a class="dropdown-item" href="/components/ABOUT_US/wordFromFounder.html">WORD FROM FOUNDER</a></li>
                <li><a class="dropdown-item" href="/components/ABOUT_US/inspiration.html">INSPIRATION BEHIND NANHI KASHTIYAN</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/components/PROGRAMS/programs.html">Programs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/components/EVENTS/events.html">Events</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="/components/GET_INVOLVED/getInvolved.html" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Get Involved 
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/components/GET_INVOLVED/volunteer.html">VOLUNTEER</a></li>
                <li><a class="dropdown-item" href="/components/GET_INVOLVED/donate.html">DONATE</a></li>
                <li><a class="dropdown-item" href="/components/GET_INVOLVED/sponsorship.html">SPONSORSHIP</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/components/CONTACT_US/contact.html">Contact</a>
            </li>
            
          </ul>
        </div>
      </div>
  </nav>

  <!-- hey vivek, you can add your content here -->
  <section class="py-5">
    <div class="container">
      <div class="row justify-content-center text-center mb-4 mb-md-5">
        <div class="col-xl-9 col-xxl-8">
          <h2 class="display-5 fw-bold">EVENTS AND ACTIVITIES</h2>
        </div>
      </div>
      <div class="row g-5">
        <div class="col-md-4">
          <div class="card border-0 shadow-sm">
            <a href=""><img alt="" class="img-fluid rounded" src="https://freefrontend.dev/assets/rectangle-wide.png"></a>
            <div class="card-body p-0 text-center mt-4">
              <h5><a class="text-dark text-decoration-none" href="">AnnDaan</a></h5>
              <p class="mt-3">During the second wave of the COVID, we started a program to provide free food home delivery to the affected poor families.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card border-0 shadow-sm">
            <a href=""><img alt="" class="img-fluid rounded" src="https://freefrontend.dev/assets/rectangle-wide.png"></a>
            <div class="card-body p-0 text-center mt-4">
              <h5><a class="text-dark text-decoration-none" href="">Mahfooz</a></h5>
              <p class="mt-3">Every winter, we run a mission to provide high quality warm blankets along with dry ration and dignity kits to the underprivileged living in the open on the streets.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card border-0 shadow-sm">
            <a href=""><img alt="" class="img-fluid rounded" src="https://freefrontend.dev/assets/rectangle-wide.png"></a>
            <div class="card-body p-0 text-center mt-4">
              <h5><a class="text-dark text-decoration-none" href="">Rasoi</a></h5>
              <p class="mt-3">The organization provided 11kgs of dry ration including Aata, Dal, Chawal, Sarso oil, Salt, Essential spices at learning centers.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="py-5 section-container">
    <div class="container">
      <div class="row justify-content-center text-center mb-3 mb-md-5">
        <div class="col-lg-8 col-xxl-7">
          <span class="text-muted">Showcase</span>
          <h2 class="display-5 fw-bold mb-3">ROSHAN ARTS IN SUPPORT OF NANHI KASHTIYAN</h2>
        </div>
      </div>
      <div class="row">
        <!-- Images Above Paragraphs -->
        <div class="row py-3 align-items-center">
          <div class="col-md-6 mt-md-0 mt-4">
            <div class="mb-5 mb-lg-3"><img class="img-fluid" src="https://freefrontend.dev/assets/rectangle-wide.png"></div>
          </div>
          <div class="col-md-6 ps-md-5">
            <div class="mb-5 mb-lg-3">
              <h4>ROSHAN ARTS IN SUPPORT OF NANHI KASHTIYAN</h4>
              <p>Mr. Roshan Sahai is a self-taught artist and has very deftly managed to hone his sketching and painting skills further all these years, getting into each and every aspect with the required depth. Take a look at the some of the pictures above which bear testimony to this project.

                At Roshan Arts, we charge a token amount for the sketches, paintings, etc based on order size, other parameters ultimately benefiting our NGO Nanhi Kashtiyan<p>
              <p>If you wish to have a handmade sketch of your own or your near and dear ones, then look no further, and trust Roshan Arts. You would be the recipient of dual happiness: one – getting a beautiful flaw- less sketch or painting and other one – contributing for the betterment of society by educating under-privileged kids.</p>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-lg-3 col-md-6">
            <div class="mb-3 mb-lg-0"><img alt="" class="img-fluid" src="/assets/sketches/img1.jpeg"></div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="mb-3 mb-lg-0"><img alt="" class="img-fluid" src="/assets/sketches/img2.jpeg"></div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="mb-3 mb-lg-0"><img alt="" class="img-fluid" src="/assets/sketches/img3.jpeg"></div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="mb-3 mb-lg-0"><img alt="" class="img-fluid" src="/assets/sketches/img4.jpeg"></div>
          </div>
        </div>
      </div>
  </section>
  
  
  
  <section class="py-5">
    <div class="container">
      <div class="row justify-content-center text-center mb-3 mb-md-5">
        <div class="col-lg-8 col-xxl-7">
          
          <h2 class="display-5 fw-bold mb-3">ART PIECES BY CHILDREN</h2>
          </div>
      </div>
      <div class="row gy-4">
        <div class="col-md-6 col-xl-4"><img alt="" class="img-fluid rounded" src="https://freefrontend.dev/assets/rectangle-wide.png"></div>
        <div class="col-md-6 col-xl-4">
          <div class="bg-light rounded h-100 d-flex align-items-center">
            <div class="text-center p-5 p-md-3">
              <h4>A Catchy Title</h4>
              <p class="mt-3 mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta harum ipsum venenatis metus sem veniam.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-4"><img alt="" class="img-fluid rounded" src="https://freefrontend.dev/assets/rectangle-wide.png"></div>
        <div class="col-md-6 col-xl-4"><img alt="" class="img-fluid rounded" src="https://freefrontend.dev/assets/rectangle-wide.png"></div>
        <div class="col-md-6 col-xl-4"><img alt="" class="img-fluid rounded" src="https://freefrontend.dev/assets/rectangle-wide.png"></div>
        <div class="col-md-6 col-xl-4"><img alt="" class="img-fluid rounded" src="https://freefrontend.dev/assets/rectangle-wide.png"></div>
      </div>
    </div>
  </section>


  <section class="video-container">
    <!-- Video 1 -->
    <div class="video-item">
        <iframe src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="Video 1" frameborder="0"></iframe>
    </div>
    
    <!-- Video 2 -->
    <div class="video-item">
        <iframe src="https://www.youtube.com/embed/ytHvZyU2sQA" title="Video 2" frameborder="0"></iframe>
    </div>
    
    <!-- Video 3 -->
    <div class="video-item">
        <iframe src="https://www.youtube.com/embed/zpOBBKm1lQI" title="Video 3" frameborder="0"></iframe>
    </div>
</section>

  <section class="location-section bg-dark text-white p-5">
    <div class="container">
        <div class="row ">
          <div class="col-12 col-md-12 col-lg-6">
              <h3>Our Location</h3>
              <p>Delhi —<br>
                  A-28, Ambika Enclave, Dwarka, New Delhi – 110078
              </p>
          </div>

          <div class="col-12 col-md-12 col-lg-6 text-center">
              <h3>Call Us At</h3>
              <p class="m-0">Roshan - +91 9716998233</p>
              <p class="m-0">Vineet - +91 9971753355</p>
              <p>Anshika - +91 7015408192</p>
          </div>
            
        </div>
    </div>
  </section>
    
  <footer class="mr-0">
    <div class="contact-details bg-dark p-3">
      <div class="contanier">
        <hr class="container mx-auto text-white">
        <div class="row" style="border: 1px solid black">
          <div class="col-lg-8 col-12">
            <p class="text-white text-center">© Copyright Nanhi Kashtiyan | ALL RIGHTS RESERVED</p>
          </div>

          <div class="col-lg-4">
            <div class="d-flex justify-content-center align-items-center gap-5">
              <a href="https://www.instagram.com/nanhi_kashtiyan">
                <div class="">
                  <i class="fa-brands fa-instagram"></i>
                </div>
              </a>
              
              <a href="https://www.facebook.com/NanhiKashtiyan">
                <div class="">
                    <i class="fa-brands fa-facebook"></i>
                </div>
              </a>

              <a href="mailto:nanhikashtiyan@gmail.com">
                <div>
                  <i class="fa-regular fa-envelope"></i>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>
</body>
</html>