<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet">
  <link href="about.css" rel="stylesheet">
  <title>Nanhi Kashtiyan</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg p-5" data-bs-theme="dark">
    <div class="container nav-container" style="margin-left: 0;padding-left: 0;">
      <div class="nav-img"><img src="/assets/ngo_logo3.png" width="60vh" height="60vh"></div>
      <a class="navbar-brand" href="#">Nanhi Kashtiyan</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/home.html">Home</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" id="aboutDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              About
            </a>
            <ul class="dropdown-menu" aria-labelledby="aboutDropdown">
              <li><a class="dropdown-item" href="/components/ABOUT_US/about.html">ABOUT</a></li>
              <li><a class="dropdown-item" href="/components/ABOUT_US/ourteam.html">OUR TEAM</a></li>
              <li><a class="dropdown-item" href="/components/ABOUT_US/wordFromFounder.html">WORD FROM FOUNDER</a></li>
              <li><a class="dropdown-item" href="#">INSPIRATION BEHIND NANHI KASHTIYAN</a></li>
            </ul>
          </li>
            
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="programsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Programs
            </a>
            <ul class="dropdown-menu" aria-labelledby="programsDropdown">
              <li><a class="dropdown-item" href="/components/PROGRAMS/programs.html">PROGRAMS</a></li>
              <li><a class="dropdown-item" href="/components/PROGRAMS/successStory.html">OUR SUCEESS STORY</a></li>
            </ul>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="eventsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Events
            </a>
            <ul class="dropdown-menu" aria-labelledby="eventsDropdown">
              <li><a class="dropdown-item" href="/components/EVENTS/events.html">EVENTS</a></li>
              <li><a class="dropdown-item" href="/components/EVENTS/journey.html">OUR JOURNEY</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Get Involved 
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/components/GET_INVOLVED/getInvolved.html">GET_INVOLVED</a></li>
              <li><a class="dropdown-item" href="/components/GET_INVOLVED/volunteer.html">VOLUNTEER</a></li>
              <li><a class="dropdown-item" href="/components/GET_INVOLVED/donate.html">DONATE</a></li>
              <li><a class="dropdown-item" href="/components/GET_INVOLVED/sponsorship.html">SPONSORSHIP</a></li>
            </ul>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="/components/PARTNERSHIP/partnership.html">Partnership</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/components/CONTACT_US/contact.html">Contact</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
  <section class="inspiration-section">
    <div class="background-image"></div>
    <div class="content">
        <h2 class="centered-heading">INSPIRATION BEHIND NANHI KASHTIYAN</h2>
    </div>
  </section>

  <section class="py-5">
    <div class="container">
      <div class="row gx-4 align-items-center">
        <div class="col-md-6 order-2 order-lg-1">
          <div class="me-md-2 me-lg-5 text-center mt-5 mt-md-0">
            
            <h class="display-5 fw-bold" style="font-size: 30px;">WORD FROM REKHA MA'AM</h>
            <span class="text-muted">.</span>
            <p class="lead" style="font-size: small; text-align: left;">Three decades ago, Mrs. Rekha Anand devotedly pursued the goal of providing education and aid to under-privileged children in the Dwarka locality of Delhi. Among the many children whose lives she touched, Mr. Roshan Sahai stands out. Mrs. Rekha’s role as a teacher, mentor and guide motivated him to launch Nanhi Kastiyan to carry forward the noble goal Mrs. Rekha Anand had dedicated herself to.

              She describes her motivation behind working to help students in the following words, “Bachhon ko shiksha miley, bachhe agey badhe, isse badhiye baat aur kya ho sakti hai.”<br><p class="lead" style="font-size: small; text-align: left;"> She recalls that her experience working with children, providing them with essentials such as food and clothes was an entirely fulfilling one. Watching the children learn and progress under her guidance inspired her further.
              
              Reminiscing fondly, she believes that the inquisitiveness and desire to learn she saw in the children became a driving force for her.</p> <p class="lead" style="font-size: small; text-align: left;">She also recollects the challenges she encountered in making a meaningful difference in the lives of children she reached out to.
              
              According to her, giving back to society is an honourable virtue.</p>
              <p class="lead" style="font-size: small; text-align: left;"> Hence, she expresses pride over Mr. Roshan Sahai and the initiatives of Nanhi Kastiyan as she adheres to the belief that there is no greater good deed than working for the upliftment of children.</p>
          </div>
        </div>
        <div class="col-md-6 order-1 order-lg-2">
          <div class="ms-md-2 ms-lg-5"><img class="img-fluid rounded-3" src="https://freefrontend.dev/assets/square.png"></div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-5" style="background-color: lightpink;">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-6">
        <img class="img-fluid rounded-3" src="/assets/donate5.jpg" style="width: 100%; object-fit: cover;object-position: right top; height: 500px;">
      </div>

      <div class="col-12 col-md-6 col-lg-6 d-flex justify-content-center align-items-center flex-column">
        <p class="mx-5">Contributions can fund scholarships, school supplies, and extracurricular programs, fostering a supportive learning environment. </p>
        <p class="mx-5">These donations empower children to achieve their full potential and build a brighter future.</p>
        <div class="donatebutton">
          <a href="/components/GET_INVOLVED/donate.html"> <button class="donate-button text-black">Donate Now</button></a>
        </div>
      </div>
    </div>
  </section>

  <section class="location-section bg-dark text-white p-5">
    <div class="container">
        <div class="row ">
          <div class="col-12 col-md-12 col-lg-6">
              <h3>Our Location</h3>
              <p>Delhi —<br>
                  A-28, Ambika Enclave, Dwarka, New Delhi - 110078
              </p>
          </div>

          <div class="col-12 col-md-12 col-lg-6">
              <h3>Call Us At</h3>
              <p class="m-0">Roshan - +91 9716998233</p>
              <p class="m-0">Vineet - +91 9971753355</p>
              <p>Anshika - +91 7015408192</p>
          </div>
            
        </div>
    </div>
  </section>
  
  <footer class="mr-0">
    <div class="contact-details bg-dark p-3">
      <div class="contanier">
        <hr class="container mx-auto text-white">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-6">
            <p class="text-white text-center" id="footer-p">©2022 Nanhi Kashtiyan | ALL RIGHTS RESERVED</p>
          </div>

          <div class="col-12 col-md-6 col-lg-6">
            <div class="d-flex justify-content-center align-items-center gap-5">
              <a href="https://www.instagram.com/nanhi_kashtiyan">
                <div class="">
                  <i class="fa-brands fa-instagram"></i>
                </div>
              </a>
              
              <a href="https://www.facebook.com/NanhiKashtiyan">
                <div class="">
                    <i class="fa-brands fa-facebook"></i>
                </div>
              </a>

              <a href="mailto:nanhikashtiyan@gmail.com">
                <div>
                  <i class="fa-regular fa-envelope"></i>
                </div>
              </a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
  <script src="/script.js"></script>
</body>
</html>