<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet">
  <link href="about.css" rel="stylesheet">
  <link href="programs.css" rel="stylesheet">
  <link href="/components/ABOUT_US/ourteam.css" rel="stylesheet">
  <title>Nanhi Kashtiyan</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg p-5" data-bs-theme="dark">
    <div class="container nav-container" style="margin-left: 0;padding-left: 0;">
      <div class="nav-img"><img src="/assets/ngo_logo3.png" width="60vh" height="60vh"></div>
      <a class="navbar-brand" href="#">Nanhi Kashtiyan</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item" style="margin-left: 20%;">
            <a class="nav-link" aria-current="page" href="/home.html">Home</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/components/ABOUT_US/about.html" id="aboutDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              About
            </a>
            <ul class="dropdown-menu" aria-labelledby="aboutDropdown">
              <li><a class="dropdown-item" href="/components/ABOUT_US/ourteam.html">OUR TEAM</a></li>
              <li><a class="dropdown-item" href="/components/ABOUT_US/wordFromFounder.html">WORD FROM FOUNDER</a></li>
              <li><a class="dropdown-item" href="/components/ABOUT_US/inspiration.html">INSPIRATION BEHIND NANHI KASHTIYAN</a></li>
            </ul>
          </li>
          
          
          <li class="nav-item">
            <a class="nav-link active" href="#">Programs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/components/EVENTS/events.html">Events</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/components/GET_INVOLVED/getInvolved.html" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Get Involved 
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/components/GET_INVOLVED/volunteer.html">VOLUNTEER</a></li>
              <li><a class="dropdown-item" href="/components/GET_INVOLVED/donate.html">DONATE</a></li>
              <li><a class="dropdown-item" href="/components/GET_INVOLVED/sponsorship.html">SPONSORSHIP</a></li>
            </ul>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="/components/PARTNERSHIP/partnership.html">Partnership</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/components/CONTACT_US/contact.html">Contact</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>

  <section id="new-section" class="bg-secondary-subtle p-5">
    <div class="container text-center">
      <h1 class="heading text-capitalize fw-bolder">our programs</h1>
      <hr class="w-25 mx-auto">
    </div>
  </section>

  <section class="py-5" style="background-color: lightpink">
    <div class="container">
      <div class="row g-5">
        <div class="col-12 col-md-12 col-lg-6 d-flex justify-content-center align-items-center">
          <div class="mt-5 mt-md-0">
            <h2 class="display-6 fw-medium" style="color: deeppink;">Educating the Children</h2>
              <p class="lead">Nanhi Kashtiyan have been preparing kids for schooling, an effective in-house preparatory curriculum is practiced. It helps children to learn & develop on their pace, as per their age and learning levels. It inspires joyful learning in an engaging environment</p>
            <p class="lead">More than  600 children across all projects attended the programme with Nanhi Kashtiyan. 276 children joined formal schools after completing the programme. The progress of children is tracked every months and it was observed that all of them were settling in well with promising academic performance.</p>
          </div>
        </div>
        <div class="col-12 col-md-12 col-lg-6"><img src="/assets/programs/educatingwomen.jpeg" style="width: 100%; object-fit: cover; height: 500px"></div>
      </div>
    </div>
  </section>

  <section class="py-5" style="background-color: #BD97CB">
    <div class="container">
      <div class="row g-5">
        <div class="col-12 col-md-12 col-lg-6 d-flex justify-content-center align-items-center">
          <div class="mt-5 mt-md-0">
            <h2 class="display-7 fw-medium" style="color: deeppink;">Bridging learning level gaps</h2>
            <p class="lead">Children to Nanhi Kashtiyan come from diverse and complex social and emotional histories. Consistent investments in building their capacities and academic skills require continuous  efforts. Under a new initiative children needing additional attention were identified from grade I to VIII  including those appearing for Board Exams. Adopting NCERT guidelines for age-appropriate learning levels under the National curriculum framework, structured attention has been extended to these children. The assessments show significant development in learning levels.</p>
          </div>
        </div>
        <div class="col-12 col-md-12 col-lg-6"><img style="width: 100%; object-fit: cover; height: 500px" src="/assets/programs/gap.png"></div>
      </div>
    </div>
  </section>

  <section class="py-5" style="background-color: #EBE0D0;;">
    <div class="container">
      <div class="row g-5">
        <div class="col-12 col-md-12 col-lg-6 d-flex justify-content-center align-items-center">
          <div class="mt-5 mt-md-0">
            <h2 class="display-7 fw-medium" style="color: deeppink;">Computer Literacy and Communication Skills</h2>
            <p class="lead">In today’s world, English speaking is a necessity both for higher education and securing a white collar job.  At Nanhi Kashtiyan, we have started our computer & spoken and written learning center in Dwarka promoting computer English language education. 100% students showed improvement in spoken and written English.</p>
          </div>
        </div>
        <div class="col-12 col-md-12 col-lg-6"><img style="width: 100%; object-fit: cover; height: 500px" src="/assets/events/comp.png"></div>
      </div>
    </div>
  </section>

  <section id="our-projects" class="p-5 bg-secondary-subtle">
    <div class="container text-center">
      <h1 class="heading text-capitalize fw-bolder">our projects</h1>
      <hr class="w-25 mx-auto">
    </div>
  </section>

  <section class="p-5" style="background-color: #FFC0CB;">
    <div class="container">
      <div class="row align-items-center g-5">
        <div class="col-md-5">
          <div class="ms-md-2 ms-lg-5"><img style="width: 100%; object-fit: cover; height: 500px" src="/assets/programs/help.png"></div>
        </div>
        <div class="col-md-6 offset-md-1">
          <div class="ms-md-2 ms-lg-5">
            <h2 class="display-6 fw-medium" style="color: deeppink;">Emergency Response</h2>
            <p class="lead">Nanhi Kashtiyan has always moved deftly to answer the call of the children in need in many natural and man-made disasters. Whether it is pandemic of Covid 19,  Earthquakes in Uttarkashi & Nepal. all these tragedies involved massive destruction and deaths.</p>
            <p class="lead mb-0">Children have been the worst sufferers of these events. While many lost their homes, a large bunch of children lost their families, too. At all these places, Nanhi Kashtiyan has undertaken emergency relief work and rehabilitation programmes; we also established various live kitchens, dry rations medicines and other relief kits based on identified needs</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-5" style="background-color: #EBE0D0;">
    <div class="container">
      <div class="row align-items-center gx-4">
        <div class="col-md-5">
          <div class="ms-md-2 ms-lg-5"><img style="width: 100%; object-fit: cover; height: 500px" src="/assets/programs/women emp.png"></div>
        </div>
        <div class="col-md-6 offset-md-1">
          <div class="ms-md-2 ms-lg-5">
            <h2 class="display-6 fw-medium" style="color: deeppink;">Women empowerment</h2>
            <p class="lead">Women in India have to endure many ordeals in their day-to-day lives. For centuries, women of all generations have had to struggle to be treated as equals. At present, thousands of women in India are marginalized and poorly treated within society resulting in a lack of the skills and confidence needed to live fulfilled and active lives. Currently, a staggering 245 million women across India are unable to read or write, this severely limits their position and opportunities available to them within the society. Nanhi Kashtiyan for women empowerment, stepped in to create an impact by changing the lives of women from these backgrounds, by creating the set goals and training sessions to make them self-sustainable in life.</p>
            
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-5" style="background-color: rgb(206, 200, 200);">
    <div class="container">
      <div class="row align-items-center gx-4">
        <div class="col-md-5">
          <div class="ms-md-2 ms-lg-5"><img style="width: 100%; object-fit: cover; height: 500px" src="/assets/programs/women emp3.png"></div>
        </div>
        <div class="col-md-6 offset-md-1">
          <div class="ms-md-2 ms-lg-5">
            <h2 class="display-6 fw-medium" style="color: deeppink;">Women Health & Personal hygiene</h2>
            <p class="lead">At least 500 million women and girls globally lack adequate facilities for menstrual hygiene management. The challenge menstruating girls and women face is often less tangible than simply the availability of infrastructure, and is rooted in social norms and awareness. In many cultures, menstruating women are considered impure and are systematically excluded from participating in every-day activities, such as education, employment, and cultural and religious practices. Moreover, the taboos and stigmas attached to menstruation lead to an overall culture of silence around the topic, resulting in limited information on menstruation and menstrual hygiene. Such misinformation can have ramifications on the health and dignity of girls and women. Nanhi Kashtiyan has been running the awareness programs about the women masturbation cycle, do & don’ts and distributing sanitary pads in slum areas in Dwarka Delhi.</p>
            
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-5" style="background-color: #BD97CB;">
    <div class="container">
      <div class="row align-items-center gx-4">
        <div class="col-md-5">
          <div class="ms-md-2 ms-lg-5"><img style="width: 100%; object-fit: cover; height: 500px" src="/assets/programs/women cancer.png"></div>
        </div>
        <div class="col-md-6 offset-md-1">
          <div class="ms-md-2 ms-lg-5">
            <h2 class="display-6 fw-medium" style="color: deeppink;">Breast Cancer Awareness</h2>
            <p class="lead">Nanhi Kashtiyan dedicated awareness programs for increasing breast cancer and promoting early detection of critical illness to women. Through strategic collaborations and a grassroots approach, Nanhi Kashtiyan aims to empower women through health education and innovative medical care for breast cancer.</p>
            
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-5 bg-body-secondary">
    <div class="container">
      <div class="row align-items-center gx-4">
        <div class="col-md-5">
          <div class="ms-md-2 ms-lg-5"><img style="width: 100%; object-fit: cover; height: 500px" src="/assets/edu3.jpg"></div>
        </div>
        <div class="col-md-6 offset-md-1">
          <div class="ms-md-2 ms-lg-5">
            <p>By donating to children's education, you are investing in a brighter future for them and the world. Your generosity can unlock their potential, opening doors to endless opportunities.</p>
            <p>Together, we can create a world where every child has the chance to succeed and thrive.</p>
            <div class="donatebutton">
            <a href="/components/GET_INVOLVED/donate.html"><button class="donate-button text-black">Donate Now</button></a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="location-section bg-dark text-white p-5">
    <div class="container">
        <div class="row ">
          <div class="col-12 col-md-12 col-lg-6">
              <h3>Our Location</h3>
              <p>Delhi —<br>
                  A-28, Ambika Enclave, Dwarka, New Delhi - 110078
              </p>
          </div>

          <div class="col-12 col-md-12 col-lg-6">
              <h3>Call Us At</h3>
              <p class="m-0">Roshan - +91 9716998233</p>
              <p class="m-0">Vineet - +91 9971753355</p>
              <p>Anshika - +91 7015408192</p>
          </div>
            
        </div>
    </div>
  </section>

  <footer class="mr-0">
    <div class="contact-details bg-dark p-3">
      <div class="contanier">
        <hr class="container mx-auto text-white">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-6">
            <p class="text-white text-center" id="footer-p">©2022 Nanhi Kashtiyan | ALL RIGHTS RESERVED</p>
          </div>

          <div class="col-12 col-md-6 col-lg-6">
            <div class="d-flex justify-content-center align-items-center gap-5">
              <a href="https://www.instagram.com/nanhi_kashtiyan">
                <div class="">
                  <i class="fa-brands fa-instagram"></i>
                </div>
              </a>
              
              <a href="https://www.facebook.com/NanhiKashtiyan">
                <div class="">
                    <i class="fa-brands fa-facebook"></i>
                </div>
              </a>

              <a href="mailto:nanhikashtiyan@gmail.com">
                <div>
                  <i class="fa-regular fa-envelope"></i>
                </div>
              </a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>
  <script src="/script.js"></script>
</body>
</html>